{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing all Actors{% endblock %}


{% block content %}

<table>
  <tr>
    <th>Actor ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  {% for row in allActors %} <!--  -->
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      <a href="/1Actor_info?Person_ID={{row[0]}}">View Actor</a><br /> <!-- Make sure Person_ID is correct -->
      <a href="/Actor_List?delete_Person_ID={{row[0]}}">Remove Actor</a><br /> <!-- It works!! -->
    </td>
  </tr>
  {% endfor %}
</table>


<h3>Add a new actor</h3>
<!-- Be prepared to kill this -->
<label for="test_Dropdown">As a heads up these IDs (in the dropdown box) are also not allowed:</label>
<select id="test_Dropdown" name="Forbidden_List">
  {% for ID in Forbidden_IDs %} <!-- uhhh -->
  <option value="{{ID[0]}}">{{ID[0]}}</option>
  {% endfor %}
</select>
<!-- Be prepared to kill the above -->
<form action="">
  Actor ID: <input name="new_Person_ID" ><br /> 
  First Name: <input name="new_First_Name"><br /> 
  Last Name: <input name="new_Last_Name"><br />  
  <input type="submit" value="Add Actor">
</form>
{% endblock %}
<!-- I could have been better about setting up variable names-->
<!--VarNames: from Person table: Person_ID, First_Name, Last_Name -->
<!-- from Actor table: Person_ID, Lead_or_Side_Role, Typical_Role, Gender -->
<!-- from FilmActor relationship table: Film_Title, Actor_ID, Film_ID -->