<!-- I'm basically just using Jeff's example, but adding a title blurb -->
<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>{% block title %}{% endblock %}</title></head>
   <body>
      <h1> 
         {% block header %}{{pageTitle}}{% endblock %}
         <br> {{pageTitle2}}
      </h1>
      <!-- <p style="font-size: 24px;"> Welcome to the FilmClub database webpage!</p>
      <p style="font-size: 20px;"> Please select the option you would like!  </p> -->
      <!-- Will have to make sure this doesn't mess up other html pages-->
      <!-- v Example for class demonstration v-->
      <!-- <p style="font-size: 30px;">Tarl, Killers of the Flower Moon was the best movie of 2023 and your opinion, while valid, is also wrong. -->
      {% block content %}{% endblock %}
      <p><a href="/Film_List">Show all films.</a></p>
      <!-- <p><a href="/People_List">Show all people.</a></p> --> <!-- Only if I have time -->
      <p><a href="/Actor_List">Show all actors.</a></p>
   </body>
</html>
<!-- Will need further editing -->